<style type="text/css">
    circle.node {
        stroke: #fff;
        stroke-width: 1.5px;
    }
    line.link {
        stroke: #999;
        stroke-opacity: .6;
    }

    .node text {
        pointer-events: none;
        font: 10px sans-serif;
    }



</style>
<svg width="100%" height="400"></svg>
