<div class="container">



    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">

                <users-graph ng-model="users"></users-graph>

            </div>
        </div>
        <div class="col-md-6">
            <user-editor ng-model="users"></user-editor>
        </div>
    </div>




</div>
