<div class="panel panel-default">
    <div class="panel-heading">USERS</div>
    <div class="panel-body">
        <div class="row">

            <div class="col-xs-6">
                <div class="list-group">
                    <a href="javascript:void(0)" ng-click="selectUser(user)" ng-repeat="user in ngModel track by user.id" class="list-group-item" ng-class="{'active' : selectedUser.id == user.id}">
                        {{user.name}}
                    </a>
                </div>
            </div>

            <div class="col-xs-6">
                <form>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Name" ng-model="selectedUser.name">
                    </div>


                    <div class="form-group">
                        <label>Level</label>
                    </div>

                    <div class="form-group">
                        <div class="btn-group" role="group">
                            <button ng-repeat="group in groups" type="button" class="btn" ng-click="selectedUser.level = group" ng-class="{'btn-default' : selectedUser.level != group, 'btn-primary': selectedUser.level == group}">{{group}}</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Possible children (of level {{selectedUser.level + 1}})</label>
                    </div>

                    <div class="checkbox" ng-repeat="user in ngModel | filter: {level: selectedUser.level + 1}">
                        <label>
                            <input type="checkbox" ng-checked="selectedUser.children.indexOf(user.id) >= 0" ng-click="toggleChild(user.id)"> {{user.name}}
                        </label>
                    </div>


                    <hr/>

                    <div ng-if="selectedUser.id > 0" >
                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn btn-primary form-control" ng-click="saveUser()">SAVE</button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-default form-control" ng-click="resetUser()">CANCEL</button>
                            </div>
                        </div>

                        <hr/>

                        <a href="javascript:void(0)" ng-click="removeUser()" class="btn btn-link form-control">Delete user</a>

                    </div>



                    <div class="row" ng-if="!selectedUser.id">
                        <div class="col-xs-6">
                            <button class="btn btn-primary form-control" ng-click="saveUser()">CREATE</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-default form-control" ng-click="resetUser()">RESET</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
